body {
    font: 1.2em / 1.5 sans-serif;
}
* {
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    width: 300px;
}

td,
th {
    padding: 0.2em;
    text-align: left;
}

a:link {
    color: orange;
}

a:visited {
    color: green;
}

.container p:first-child {
    font-size: 150%;
}

.container p:first-child::first-line {
    color: red;
}

/* In order to select and color the row, Ineed to selecd the first element td, but only in odd tr's. */

tr:nth-child(odd) {
    background-color: #333333;
    color: white;
}


