.avatar.proportioned {
    /* This will have all proporties from .avatar, .proportioned, and any individual defined here (.avatar and .proportioned) */
    width: 300px;
    height: auto;
}

.avatar.distored {
    width: 200px;
    height: 400px;
}
